# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# rosbag
*.bag
*.tar.gz
weights/deeplab_model/deeplabv3_mnv2_pascal_train_aug/frozen_inference_graph.pb
weights/deeplab_model/deeplabv3_mnv2_pascal_train_aug/model.ckpt-30000.data-00000-of-00001
weights/deeplab_model/deeplabv3_mnv2_pascal_train_aug/model.ckpt-30000.index
